<html>
<head>
    <title>Tela</title>
</head>
<body>
    <h1>Listagem de produtos</h1>
    <table border="1px">
        <tr>
            <td>id</td>
            <td>nome</td>
        </tr>
        <tr>
            <td>1</td>
            <td>livro de nodejs</td>
        </tr>
    </table>
</body>
</html>